/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    background: $grey-color-light;
    padding: 30px;
    padding-top: 60px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: $grey-color-dark;

    &,
    &:visited {
        color: $grey-color-dark;
    }

    &:hover {
      text-decoration: none;
      color: #AE00FF;
    }
}

.logo {
  text-align:center;

  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 20px;

  & img {
    position: relative;
    top: 0px;
    transition: top 0.5s;
    -webkit-transition: top 0.3s;
    &:hover {
      top:-5px;
    }
  }
}

.page-content {
  margin-top:40px;
}

